

<div class="container">

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>

  <div class="row">
      <h2> Owner to Owner Transaction </h2>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row RR">
    <div *ngIf="transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Enter Transaction Info</strong></div>
        <div class="panel-body">
        <p>Billing Period: 2:00 pm - 4:00 pm</p>
          <form [formGroup]="myForm">
            
            <p>Producer:           
              <select name="owners" formControlName="producerOwnerID" >
                <option *ngFor="let owner of allOwners" value="{{owner.ownerID}}">{{owner.ownerID}}</option>
              </select>
              </p> 
              

              <p>Consumer: 
              <select name="owners" formControlName="consumerOwnerID" >
                <option *ngFor="let owner of allOwners" value="{{owner.ownerID}}">{{owner.ownerID}}</option>
              </select>
              </p>
              

            <p>Resource exchanged (kwh): <input formControlName="resourceValue" type="number" step='any' class="form-control inlineInput">
              </p>
            
            <p>Rate: <strong>{{ownerCoinsPerResource}} Coins / kwh </strong>
            </p>
            <br>
            </form>
        </div>
      </div>
    </div>

    <div *ngIf="!transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Transaction Executed</strong></div>
        <div class="panel-body">
        <p>Billing Period: 2:00 pm - 4:00 pm</p>
          <form [formGroup]="myForm">
            <p>Transaction ID: {{transactionID}}</p>
            <br>
            <!-- p>Producer: {{producerOwnerID.value}}</p> 
            <p>Resource Provided ID: {{resourceProvidedID}}</p>
            <p>Coins Credited ID: {{coinsCreditID}}</p>             
           <br>
            <p>Consumer: {{consumerOwnerID.value}}</p>           
            <p>Resource Received ID: {{resourceReceivedID}}</p>
            <p>Coins Debited ID: {{coinsDebitID}}</p>             
           <br>
            <p>Resource exchanged: {{resourceValue.value}}</p>
            <p>Coins exchanged: {{coinsValue.value}}</p-->
          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="row">  
    <div *ngIf="transactionFrom" class="col-md-offset-4 col-md-4">
      <button (click)="execute(form);" type="button" class="btn btn-success" data-toggle="modal" >Execute Transaction</button>	  
    </div>
  </div>

  <div class="row">
    <br>
    <br>
  </div>


</div>
